/* src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

:root {
  --primary: #1aac83;
  --error: #e7195a;
  --background-light: #dfdfdfe6;
  --text-light: #000000;
  --background-dark: #1e1e1e;
  --text-dark: #ffffff;
  --header-background-light: #ffffff;
  --header-background-dark: #000000;
  --header-text-light: #333333;
  --header-text-dark: #ffffff;
  --form-background-light: #ffffff;
  --form-background-dark: #333333;
  --form-text-light: #000000;
  --form-text-dark: #ffffff;
  --input-border-light: #ddd;
  --input-border-dark: #555;
}

body {
  background-color: var(--background-light);
  color: var(--text-light);
  transition: background-color 0.3s, color 0.3s;
  margin: 0;
  font-family: "Poppins";
}

body.dark-mode {
  background-color: var(--background-dark);
  color: var(--text-dark);
}

header {
  background-color: var(--header-background-light);
  color: var(--header-text-light);
  transition: background-color 0.3s, color 0.3s;
}

header.dark-mode {
  background-color: var(--header-background-dark);
  color: var(--header-text-dark);
}

header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

header a {
  color: inherit;
  text-decoration: none;
}

.pages {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* homepage */
.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
  background-color: transparent;
}

.workout-details {
  background: var(--form-background-light);
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
  transition: background-color 0.3s, color 0.3s;
}

.workout-details.dark-mode {
  background: var(--form-background-dark);
  color: var(--form-text-dark);
}

.workout-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}

.workout-details p {
  margin: 0;
  font-size: 0.9em;
  color: inherit;
}

.workout-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

.workout-details span.dark-mode {
  background: #555;
  color: #fff;
}

/* new workout form */
label,
input {
  display: block;
}

input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid var(--input-border-light);
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 20px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

input.dark-mode {
  background: var(--form-background-dark);
  color: var(--form-text-dark);
  border: 1px solid var(--input-border-dark);
}

form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}

div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}

input.error {
  border: 1px solid var(--error);
}

/* navbar */
nav {
  display: flex;
  align-items: center;
}

nav a {
  margin-left: 10px;
}

nav button {
  background: transparent;
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 6px 10px;
  border-radius: 4px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1em;
  transition: all 0.3s;
}

nav button:hover {
  background-color: var(--primary);
  color: aliceblue;
}

nav button.dark-mode {
  background-color: var(--header-background-dark);
  color: var(--primary);
  border: 2px solid var(--primary);
}

nav button.dark-mode:hover {
  background-color: var(--primary);
  color: aliceblue;
}

/* auth forms */
form.signup,
form.login {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: var(--form-background-light);
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

form.signup.dark-mode,
form.login.dark-mode {
  background: black!important;
  color: var(--form-text-dark)!important;
}
input.dark-mode{
  background-color: #333!important;
  color: aliceblue!important;
}
.pwd-container{
  position: relative;
}
.pwd-container input{
  width: 100%;
  height: 100%;
}
.pwd-container i{
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-7px);
  color: inherit;
  width: 1.5rem;
  height: 1.5rem;
  z-index: 99;
}